body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  height: 597px;
  display: flex;
}

header {
  background-color: #00f6ee;
  color: white;
  text-align: center;
  padding: 1px 0;
}

footer {
  background-color: rgb(223, 224, 232);
  color: black;
  text-align: center;
  padding: 1em 0;
  font-family: Arial, Helvetica, sans-serif;
}

span{
  font-weight: bold;
}

.sidebar{
  border-right: solid 3px rgb(223, 224, 232);
  border-top: solid 3px rgb(223, 224, 232);
  width: 90px;
  text-align: center;
}

.toolbar{
  border-bottom: solid 3px rgb(223, 224, 232);
  border-top: solid 3px rgb(223, 224, 232);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbarLeft{
  margin-left: 10px;
  display: flex;
  flex: 1;
  align-items: center;
}

.toolbarRight{
  width: 100px;
}

#paintarea{
  flex: 1;
  height: auto;
}

.container{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.paintarea{
  text-align: center;
  align-content: center;
}
